a.story-card {
  text-decoration: none;
  height: 100%;
  .story-card-content {
    width: 430px;
    height: 100%;
    color: white;
    border-right: 1px solid grey;
    padding: 0 15px;
    overflow-y: auto;
    .count {
      padding: 10px 0;
      color: grey;
    }
    .image {
      height: 300px;
      background-position: center;
      background-size: cover;
    }
    .title {
      font-weight: normal;
      font-size: 2rem;
    }
  }
}

.story-card.disabled {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.6;
}
