.doc-detail {
  height: 100%;
  width: 100%;
  background-color: #272A2D;
  display: flex;
  .doc-detail-lang-switcher {
    background: yellow;
    width: 100%;
    .doc-detail-lang {
      text-align: center;
      cursor: pointer;
      height: 30px;
    }
    .doc-detail-lang.doc-detail-current-lang {
      text-decoration: underline;
    }
  }
}

.doc-detail > .doc-detail-data {
  width: 100%;
  flex: 1;
}

.doc-detail > .doc-detail-bar {
  background: white;
  color: black;
  border-right: 1px solid black;
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50px;
}

.doc-detail > .doc-detail-bar > .close-icon {
  cursor: pointer;
}


.doc-detail > .doc-detail-data .doc-detail-info {
  padding: 30px;
  background-color: white;
}


.doc-detail > .doc-detail-data .doc-detail-info > .doc-title {
  margin-bottom: 30px;
}

.doc-detail > .doc-detail-data .doc-detail-info > .doc-description {
  border-top: 1px solid #C4CDD5;
  padding-top: 30px;
  padding-bottom: 20px;
}

.doc-detail > .doc-detail-data .doc-detail-info
> .doc-related-docs-container > .doc-related-docs-title {
  text-transform: uppercase;
}

.doc-detail > .doc-detail-data .doc-detail-info >
.doc-related-docs-container > .doc-related-docs {
  border-top: 1px solid #C4CDD5;
  padding-top: 10px;
  /* display: flex; */
}

.doc-detail > .doc-detail-data .doc-detail-info >
.doc-related-docs-container > .doc-related-docs > .doc-related-doc {
  margin-top: 20px;
  height: 70px;
  width: 70px;
}

.doc-detail > .doc-detail-data .doc-detail-info >
.doc-related-docs-container > .doc-related-docs > .doc-related-doc img {
  object-fit: cover;
  height: 100%;
  width: 70px;
}

.doc-detail .doc-media-video {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}
