.Map {
  margin-left: 56px;
  .title {
    background-color: var(--dark-post);
    border-color: #000 !important;
  }
  .top-bar {
    height: 56px;
    font-size: 0.85rem;
  }
  .filters-container,
  .navigation-container,
  .timeline-container {
    background-color: var(--dark-post);
  }

  .map-filters {
    font-family: "IBM Plex Sans", sans-serif;
    cursor: pointer;
  }

  .map-opacity {
    font-family: "IBM Plex Sans", sans-serif;
  }

  .map-opacity input {
    width: 100px;
  }

  .map-filters:not(.active) {
    opacity: 0.3;
  }

  .timeline-container {
    border-color: black !important;
  }

  .place-marker {
    width: 30px;
    height: 30px;
    border-radius: 999px;
  }

  .place-selected {
    border: 2px solid var(--yellow-post);
  }

  .place-clickable {
    cursor: pointer;
  }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .Map {
    .top-bar {
      font-size: 1rem;
    }
  }
}
