.Map {
  margin-left: 56px;
  .title {
    background-color: var(--dark-post);
    border-color: #000 !important;
  }
  .top-bar {
    height: 56px;
  }
  .filters-container,
  .navigation-container,
  .timeline-container {
    background-color: var(--dark-post);
  }

  .map-filters {
    font-family: "IBM Plex Sans", sans-serif;
    cursor: pointer;
  }

  .map-opacity {
    font-family: "IBM Plex Sans", sans-serif;
  }

  .map-filters:not(.active) {
    opacity: 0.3;
  }

  .timeline-container {
    border-color: black !important;
  }

  .place-marker {
    width: 30px;
    height: 30px;
    border-radius: 999px;
  }

  .place-selected {
    border: 2px solid var(--yellow-post);
  }

  .place-clickable {
    cursor: pointer;
  }
}
