.video-story {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .video-story .video-story-top {
    height: 60px;
    display: flex;
    flex-direction: row; }
    .video-story .video-story-top .control-button {
      background-color: #FFFFFF;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .video-story .video-story-top .control-button.border-right {
        border-right: solid #000 1px; }
    .video-story .video-story-top .track-container {
      flex: 1;
      display: flex;
      flex-direction: column; }
      .video-story .video-story-top .track-container .video-meta {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px; }
        .video-story .video-story-top .track-container .video-meta h3 {
          font-size: 27px;
          margin-left: 10px; }
      .video-story .video-story-top .track-container .track {
        height: 10px;
        background-color: #7B7B7B;
        position: relative;
        cursor: pointer; }
        .video-story .video-story-top .track-container .track .side-doc {
          position: absolute;
          height: 100%;
          background: #F8C91C;
          border: solid #000 1px;
          width: 10px;
          pointer-events: none; }
        .video-story .video-story-top .track-container .track .progress {
          background-color: #F8C91C;
          position: absolute;
          height: 100%;
          border-radius: 0;
          pointer-events: none; }
  .video-story .video-story-video {
    flex: 1;
    display: flex; }
    .video-story .video-story-video .video-container {
      height: 100%;
      flex: 1;
      overflow: hidden; }
      .video-story .video-story-video .video-container video {
        object-fit: cover; }
    .video-story .video-story-video .side-document {
      background: white;
      position: relative; }
      .video-story .video-story-video .side-document .handle-circle-container {
        cursor: col-resize;
        top: calc(50% - 25px);
        left: -25px;
        width: 50px;
        height: 50px;
        position: absolute; }
      .video-story .video-story-video .side-document .display-doc {
        background: black;
        color: white;
        padding-left: 10px;
        height: 100%;
        display: flex;
        flex-direction: column; }
        .video-story .video-story-video .side-document .display-doc .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 20px; }
        .video-story .video-story-video .side-document .display-doc .doc-image {
          flex: 1;
          background-size: cover;
          background-position: center; }
  .video-story .video-story-bottom {
    height: 200px;
    display: flex; }
    .video-story .video-story-bottom .lang-switcher {
      background: yellow;
      width: 70px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      display: flex; }
      .video-story .video-story-bottom .lang-switcher .lang {
        padding-top: 8px;
        padding-bottom: 8px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold; }
        .video-story .video-story-bottom .lang-switcher .lang.current-lang {
          text-decoration: underline; }
    .video-story .video-story-bottom .speaker {
      color: white;
      padding: 20px;
      width: 500px; }
      .video-story .video-story-bottom .speaker h5 {
        color: grey; }
    .video-story .video-story-bottom .subtitles {
      padding: 20px;
      flex: 1;
      color: white; }

.tooltip.side-doc-tooltip .tooltip-inner {
  background-color: #F8C91C;
  color: #222; }

.tooltip.side-doc-tooltip .arrow::before {
  border-bottom-color: #F8C91C; }
