.video-story {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .video-story-top {
    height: 60px;
    display: flex;
    flex-direction: row;

    .control-button {
      background-color: #FFFFFF;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.border-right {
        border-right: solid #000 1px;
      }
    }

    .track-container {
      flex:1;
      display: flex;
      flex-direction: column;

      .video-meta {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 27px;
          margin-left: 10px;
        }
      }

      .track {
        height: 10px;
        background-color: #7B7B7B;
        position: relative;
        cursor: pointer;

        .side-doc {
          position: absolute;
          height: 100%;
          background: #F8C91C;
          border: solid #000 1px;
          width: 10px;
          pointer-events: none;
        }

        .progress {
          background-color: #F8C91C;
          position: absolute;
          height: 100%;
          border-radius:0;
          pointer-events: none;
        }
      }

    }


  }

  .video-story-video {
    flex: 1;
    display: flex;
    .video-container {
      height: 100%;
      flex: 1;
      overflow: hidden;
      video {
        object-fit: cover;
      }
    }
    .side-document {
      background: white;
      position: relative;
      .handle-circle-container {
        top: calc(50% - 25px);
        left: -25px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      .display-doc {
        background: black;
        color: white;
        padding-left: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 20px;
        }
        .doc-image {
          flex: 1;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }

  .video-story-bottom {
    height: 200px;
    display: flex;
    .lang-switcher {
      background: yellow;
      text-align: center;
      width: 70px;
    }
    .speaker {
      color: white;
      padding: 20px;
      width: 500px;
      h5 {
        color: grey;
      }
    }
    .subtitles {
      padding: 20px;
      flex: 1;
      color: white;
    }
  }

}

.tooltip.side-doc-tooltip{
  .tooltip-inner {
    background-color: #F8C91C;
    color: #222;
  }
  .arrow::before {
    border-bottom-color: #F8C91C;

  }
}
