.EventModal {
  padding: 50px 0px;
  background-color: rgba(19, 19, 19, 0.9); }
  .EventModal .doc-container {
    background-color: var(--dark-post); }
    .EventModal .doc-container .description {
      font-family: "IBM Plex Sans Condensed", sans-serif;
      font-size: 1.25rem; }
    .EventModal .doc-container .date {
      margin-bottom: 5px; }
    .EventModal .doc-container .collection-link {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 0.875rem;
      padding-bottom: 3px;
      border-bottom: 1px solid var(--yellow-post); }
    .EventModal .doc-container .collection-link:hover {
      text-decoration: none;
      color: white; }
    .EventModal .doc-container .img-preview {
      object-fit: contain; }
  .EventModal .event-info {
    background-color: white; }
    .EventModal .event-info .event-info-container {
      overflow-y: auto; }
    .EventModal .event-info .action-bar {
      width: 56px; }
      .EventModal .event-info .action-bar button {
        height: 56px;
        background-color: transparent; }
    .EventModal .event-info .related-title {
      color: var(--yellow-post);
      text-transform: uppercase; }
    .EventModal .event-info .square {
      position: relative;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      box-sizing: border-box;
      cursor: pointer; }
    .EventModal .event-info .square.selected {
      border: 5px solid var(--yellow-post); }
    .EventModal .event-info .square:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
    .EventModal .event-info .square-content {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      filter: grayscale(1); }
    .EventModal .event-info .square-content:hover {
      filter: grayscale(0); }
