body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:focus {
  outline: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
}

/* general utilities */
.h-100vh {
  height: 100vh;
}

.h-100px {
  height: 100px;
}

.overflow-auto {
  overflow: auto;
}

.flex-1 {
  flex:1;
}

.cover {
  background-size: cover!important;
}

 /*fonts & text utilities */
 .font-9 {
   font-size: 9px;
 }

 .font-12 {
   font-size: 12px;
 }

 .font-14 {
   font-size: 14px;
 }

.lead-24 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
}

.lead-48 {
  font-size: 48px;
  font-weight: 300;
}

.text-grey {
  color: #9b9b9b;
}

/* custom background styles */
.bg-black {
  background-color: #131313;
  color: #fff;
}

.bg-opaque-black {
  background-color: #1d1d1d;
  color: #fff;
}

.bg-darkgrey {
  background-color: #383838;
}

.bg-overlay {
  background-color: rgba(49,48,48,0.7);
}

/* custom components styles */
.timeline-nav {
  user-select: none;
}

.timeline-nav-tick {
  text-anchor: middle;
  font-size: 14px;
  font-weight: 100;
}

.fill-grey {
  fill: #828282;
}

.fill-white {
  fill: #fff;
}

.timeline-event-date {
  fill: #fff;
  text-anchor: start;
  font-size: 10px;
  font-weight: 100;
}

.timeline-event-category {
  /*fill: #ed6505;*/
  text-anchor: start;
  font-size: 10px;
  font-weight: 100;
}

.timeline-event-title {
  fill: #fff;
  text-anchor: start;
  font-size: 18px;
}

.timeline-handle {
  cursor: pointer;
}

.legend-detail-image {
  min-height: 350px;
}

.legend-close-btn {
  left: 100%;
  padding-top: 56px;
}

.map-with-over-place {
  opacity: 0.2;
}


.mapboxgl-popup-content {
  /*pointer-events: none;*/
}

.map-tooltip {
  width: 100%;
  height: 300px;

}

.mapboxgl-popup {
  z-index: 99999;
}
