body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:focus {
  outline: 0px;
}

.h-100vh {
  height: 100vh;
}

.h-100px {
  height: 100px;
}

.overflow-auto {
  overflow: auto;
}

.flex-1 {
  flex:1;
}

.cover {
  background-size: cover!important;
}

.font-9 {
  font-size: 9px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.bg-overlay {
  background-color: rgba(49,48,48,0.7);
}

.timeline-nav-tick {
  fill: #fff;
  text-anchor: middle;
  font-size: 14px;
  font-weight: 100;
}

.timeline-event-date {
  fill: #fff;
  text-anchor: start;
  font-size: 10px;
  font-weight: 100;
}

.timeline-event-category {
  fill: #ed6505;
  text-anchor: start;
  font-size: 10px;
  font-weight: 100;
}

.timeline-event-title {
  fill: #fff;
  text-anchor: start;
  font-size: 18px;
}

.legend-detail-image {
  min-height: 350px;
}

.legend-close-btn {
  left: 100%;
  padding-top: 36px;
}
