.TimelineFilters {
  height: 56px;

  .category-filter {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.75rem;
    opacity: 0.4;
    transition: opacity 0.3s linear;
    cursor: pointer;
  }

  .category-filter.active {
    opacity: 1;
  }

  .filter-switch {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.75rem;

    label {
      font-size: 0.75rem;
    }
  }
}
