.collection-filters {
  color: #fff;
  top: 0;
  left: 56px;
  z-index: 3;
  right: 0;
  height: 56px;
  background-color: #272A2D;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 86px;
  padding-right: 86px; }
  .collection-filters .filters-actions {
    display: flex;
    align-items: center; }
  .collection-filters .filters-title h2 {
    margin: 0; }

.collection-filters-open {
  position: fixed;
  z-index: 2;
  left: 56px;
  top: 56px;
  right: 0;
  padding-left: 86px;
  padding-right: 86px;
  background-color: #272A2D;
  border: 1px solid white; }
  .collection-filters-open .filter-sub-title {
    color: yellow;
    margin: 0;
    margin-top: 10px; }
  .collection-filters-open .categories-radios {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collection-filters-open .categories-radios .category-radio {
    align-items: center;
    display: flex; }
  .collection-filters-open .categories-radios .category-radio:last-child {
    margin-right: 0; }
  .collection-filters-open .categories-radios .category-radio .radio-label {
    color: white;
    margin-left: 10px; }
  .collection-filters-open .categories-radios .category-radio input {
    margin-top: -2px; }
  .collection-filters-open .filter-brush-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 100%; }
    .collection-filters-open .filter-brush-container .filter-brush-bottom {
      padding-top: 15px;
      color: white; }

.collection-brush {
  fill-opacity: 0.25;
  fill: grey;
  stroke: #fff; }

.collection-time-brush {
  height: 100%; }
  .collection-time-brush svg {
    margin: 0;
    padding: 0; }

.collection-ticks {
  width: 100%;
  height: 20px; }

.collection-bars {
  /* border-bottom: 1px solid grey; */
  /* margin-left: 30px; */
  width: 100%;
  height: 30px; }

.collection-list {
  height: 100%;
  padding-top: 56px;
  background-color: #272A2D; }
  .collection-list .collection-list-wrapper {
    padding-right: 86px;
    padding-top: 30px;
    height: 100%;
    overflow-y: auto; }

.collection-col {
  border-right: 1px solid grey;
  margin-bottom: 30px; }

.collection-col.col-placeholder {
  border: 0; }

/* Colection item */
.collection-item {
  padding: 0 20px;
  width: 100%;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column; }

.collection-item > .item-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%; }

.collection-item > .item-image-box > img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  vertical-align: middle; }

.collection-item > .item-image-box.item-image-large > img {
  height: auto;
  width: 100%; }

.collection-item > .item-caption {
  margin-bottom: 40px; }

.collection-item > .item-caption > .item-label {
  word-break: break-all;
  font-size: 20px;
  line-height: 28px;
  height: 60px; }

.collection-item > .item-caption > .item-year {
  color: #9B9B9B;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px; }
