.CollectionFilters {
  .top-bar {
    height: 56px;
    background-color: var(--dark-post);
    border-color: #000 !important;
  }
}

.collection-filters-open {
  position: fixed;
  z-index: 2;
  left: 56px;
  top: 56px;
  right: 0;
  padding-left: 86px;
  padding-right: 86px;
  background-color: #272a2d;
  border: 1px solid white;

  .filter-sub-title {
    color: yellow;
    margin: 0;
    margin-top: 10px;
  }

  .categories-radios {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .categories-radios .category-radio {
    align-items: center;
    display: flex;
  }
  .categories-radios .category-radio:last-child {
    margin-right: 0;
  }
  .categories-radios .category-radio .radio-label {
    color: white;
    margin-left: 10px;
  }
  .categories-radios .category-radio input {
    margin-top: -2px;
  }

  .filter-brush-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .filter-brush-bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      color: white;
    }
  }
}

// .collection-filters-categories {
//   display: flex;
// }
.collection-brush {
  fill-opacity: 0.25;
  fill: grey;
  stroke: #fff;
}

.collection-time-brush {
  height: 100%;
  svg {
    margin: 0;
    padding: 0;
  }
}
.collection-ticks {
  width: 100%;
  height: 20px;
}
.collection-bars {
  /* border-bottom: 1px solid grey; */
  /* margin-left: 30px; */
  width: 100%;
  height: 30px;
}

.collection-list {
  height: calc(100% - 56px);
  padding-top: 15px;
  .collection-list-wrapper {
    height: 100%;
  }
}
.collection-row {
  height: 430px;
  padding-bottom: 30px;
  .collection-col:last-child {
    border-right: 0;
  }
}
.collection-col {
  border-right: 1px solid grey;
}

.collection-col a {
  text-decoration: none;
}

.collection-col a:hover .item-label {
  text-decoration: underline;
}

.collection-col.col-placeholder {
  border: 0;
}

/* Collection item */
.collection-item {
  padding: 0 20px;

  .item-image-box {
    overflow: auto;
    flex-basis: 0;
  }

  .item-image-box > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50% 100%;
  }

  .item-caption {
    margin-bottom: 40px;
  }

  .item-label {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.25rem;
  }
  .item-info {
    color: #9b9b9b;
    font-size: 0.875rem;
    margin-bottom: 10px;
  }

  .item-icon .material-icons {
    font-size: 1.2rem !important;
    line-height: normal;
  }

  .image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: grey;
  }
}
